<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.drom.gitgrep">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Older Android versions used to require these permission even for our own accounts. This was fixed -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" android:maxSdkVersion="23" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="23" />

    <application
        android:name=".GitGrepApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        >
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.MainActivity"
            android:resumeWhilePausing="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AuthActivity"
            android:resumeWhilePausing="true"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <data android:scheme="ru.drom.gitgrep"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.PlaceholderSyncService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

        <service
            android:name=".service.AuthService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <provider
            android:name=".service.PlaceholderProvider"
            android:exported="true"
            android:authorities="ru.drom.gitgrep"
            tools:ignore="ExportedContentProvider"
            />

    </application>

</manifest>